In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv('/content/Melbourne_housing_FULL.csv')
df

           Suburb             Address  ...             Regionname Propertycount
0      Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1      Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3      Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4      Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
...           ...                 ...  ...                    ...           ...
34852  Yarraville         13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville       29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville      147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville    12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville    3 Tarrengower St  ...   Western Metropolitan        6543.0

[34857 rows x 21 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [20]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [21]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [22]:
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
               'CouncilArea','Regionname','Propertycount']

ds = df[cols_to_use]
ds

           Suburb  Rooms  ...             Regionname  Propertycount
0      Abbotsford      2  ...  Northern Metropolitan         4019.0
1      Abbotsford      2  ...  Northern Metropolitan         4019.0
2      Abbotsford      2  ...  Northern Metropolitan         4019.0
3      Abbotsford      3  ...  Northern Metropolitan         4019.0
4      Abbotsford      3  ...  Northern Metropolitan         4019.0
...           ...    ...  ...                    ...            ...
34852  Yarraville      4  ...   Western Metropolitan         6543.0
34853  Yarraville      2  ...   Western Metropolitan         6543.0
34854  Yarraville      2  ...   Western Metropolitan         6543.0
34855  Yarraville      3  ...   Western Metropolitan         6543.0
34856  Yarraville      2  ...   Western Metropolitan         6543.0

[34857 rows x 15 columns]

In [23]:
ds.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [24]:
cols_to_fill_zero = ['Distance', 'Bedroom2', 'Bathroom', 'Car', 'Propertycount']
ds[cols_to_fill_zero]=ds[cols_to_fill_zero].fillna(0)
ds

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

           Suburb  Rooms  ...             Regionname  Propertycount
0      Abbotsford      2  ...  Northern Metropolitan         4019.0
1      Abbotsford      2  ...  Northern Metropolitan         4019.0
2      Abbotsford      2  ...  Northern Metropolitan         4019.0
3      Abbotsford      3  ...  Northern Metropolitan         4019.0
4      Abbotsford      3  ...  Northern Metropolitan         4019.0
...           ...    ...  ...                    ...            ...
34852  Yarraville      4  ...   Western Metropolitan         6543.0
34853  Yarraville      2  ...   Western Metropolitan         6543.0
34854  Yarraville      2  ...   Western Metropolitan         6543.0
34855  Yarraville      3  ...   Western Metropolitan         6543.0
34856  Yarraville      2  ...   Western Metropolitan         6543.0

[34857 rows x 15 columns]

In [25]:
ds.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [26]:
ds['Landsize']=ds['Landsize'].fillna(ds.Landsize.mean())
ds['BuildingArea']=ds['BuildingArea'].fillna(ds.BuildingArea.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
ds.isna().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

In [30]:
ds.dropna(0,'any',inplace=True)
ds

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           Suburb  Rooms  ...             Regionname  Propertycount
1      Abbotsford      2  ...  Northern Metropolitan         4019.0
2      Abbotsford      2  ...  Northern Metropolitan         4019.0
4      Abbotsford      3  ...  Northern Metropolitan         4019.0
5      Abbotsford      3  ...  Northern Metropolitan         4019.0
6      Abbotsford      4  ...  Northern Metropolitan         4019.0
...           ...    ...  ...                    ...            ...
34852  Yarraville      4  ...   Western Metropolitan         6543.0
34853  Yarraville      2  ...   Western Metropolitan         6543.0
34854  Yarraville      2  ...   Western Metropolitan         6543.0
34855  Yarraville      3  ...   Western Metropolitan         6543.0
34856  Yarraville      2  ...   Western Metropolitan         6543.0

[27244 rows x 15 columns]

In [31]:
ds.isna().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [32]:
ds = pd.get_dummies(ds,drop_first=True)
ds.head()

   Rooms  ...  Regionname_Western Victoria
1      2  ...                            0
2      2  ...                            0
4      3  ...                            0
5      3  ...                            0
6      4  ...                            0

[5 rows x 745 columns]

In [34]:
x = ds.drop('Price',1)
y = ds['Price']

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state = 2)

In [49]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [50]:
model.fit(x_train,y_train)

LinearRegression()

In [51]:
model.score(x_test,y_test)         # overfitting

0.13853683161630603

In [52]:
model.score(x_train,y_train)

0.6827792395792723

In [54]:
from sklearn.linear_model import Lasso             # l1 regulariztion
lasso_reg = Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.329e+15, tolerance: 7.963e+14
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Lasso(alpha=50, max_iter=100, tol=0.1)

In [55]:
lasso_reg.score(x_test,y_test)

0.6637669697137103

In [56]:
lasso_reg.score(x_train,y_train)

0.6767356948457685

In [57]:
from sklearn.linear_model import Ridge             # l2 regulariztion
ridge_reg = Ridge(alpha=50, max_iter=100, tol=0.1)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [58]:
ridge_reg.score(x_test,y_test)

0.6670848945194958

In [59]:
ridge_reg.score(x_train,y_train)

0.6622376739684328